body {
    background-image: url('../imagens/mais_escuro.jpg');
}

.bg-white {
    --bs-bg-opacity: 0 !important;
    /* background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important; */
}

.containerer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.card {
    width: 230px;
    height: 325px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    perspective: 1000px;
    transform: perspective(1000px) translateY(0);
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    margin:0 20px;
}

    .mago {
        background-image: url(../imagens/mago-3.5-236x300.jpg);
        background-size:cover;
        color: #fff;
    }

        .card.dark .purchase-button {
            border: 1px solid #000;
        }

    .barbaro {
        background-image: url(../imagens/barbarian_w_o.jpg);
        background-size: cover;
        color: #fff;
    }

.artificer {
    background-image: url(../imagens/ed747a1ab4d10f67edb25f9a70592a54.jpg);
    background-size: cover;
    background-position:center;
    color: #fff;
}

        .card.light .purchase-button {
            border: 1px solid #000;
        }

.card-container {
    display: flex;
}

.card-wrapper:hover .card {
    transform: rotateY(179deg);
    z-index: 2;
}

    .card-wrapper:hover .card .text-overlay {
        opacity: 0;
        transform-style: preserve-3d;
        z-index: 1;
    }

    .card-wrapper:hover .card .purchase-button-container {
        opacity: 1;
    }

.text-overlay {
    transform: perspective(1000px) translateY(0) translateZ(80px);
    transition: transform 0.8s ease-in-out, opacity 1s ease;
    pointer-events: none;
    width: 100%;
    perspective: inherit;
    padding-top: 50px;
}

h1 {
    color: #000;
    margin-bottom:80px;
}

h2 {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
}

.price {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    margin: 20px;
}

.purchase-button-container {
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
    opacity: 0;
    z-index: -1;
    transition: transform 0.8s ease-in-out, opacity 1s ease;
    width: 100%;
    height: 100%;
}

    .purchase-button-container .purchase-button {
        padding: 10px 40px;
        border-radius: 50px;
        font-size: 1.2rem;
        transition: background-color 0.25s ease, color 0.25s ease;
        cursor: pointer;
    }

        .purchase-button-container .purchase-button.light:hover {
            background-color: #000;
            color: #fff;
        }

        .purchase-button-container .purchase-button.dark:hover {
            background-color: #000;
            color: #fff;
        }

.details-text {
    margin-top: 20px;
    display: flex;
    gap: 10px 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #858585;
    font-size: 0.75rem;
}

small {
    font-size: 0.75rem;
    font-weight: 100;
    color: #858585;
}

.fa-solid {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.back-h2 {
    font-size: 2rem;
    margin-top: 0;
}

.escondidas {
    display: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}
