body {
    background-image: url('../imagens/mais_escuro.jpg');
}

.bg-white {
    --bs-bg-opacity: 0 !important;
    /* background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important; */
}

#nome_personagem, #infos, #numeros, #forca, #destreza, #constituicao, #inteligencia, #sabedoria, #carisma, #inspiracao, .inspiracao, #proficiencia, .proficiencia, #teste, #pericias, #superior, #armadura, #iniciativa, #deslocamento, #PV, #PVTemp, #sucess, #dados, #ataque_magias, #equipamento, #pc_span, #pp_span, #pe_span, #po_span, #pl_span, #pc_id, #pp_id, #pe_id, #po_id, #pl_id, #traco, #ideais, #ligacoes, #defeito, #habilidade, #sab_pass, .sab_pass, #idiomas_profi, #nome-personagem, #humano, #aparencia, #historia, #tesouro, #outras_caracteristicas, #aliados, #simbolo {
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    text-align: center;
    border-radius: 10px;
    background: #DEE5FF;
    color: #000
}

textarea {
    border-radius: 10px;
    background: #DEE5FF;
    color: #000
}

span {
    font-weight: bold;
}

small {
    font-weight: normal;
}

.container {
    margin-left: 50px
}

#cabecalho {
    margin-bottom: 15px;
}

#testes input {
    width: 50px;
}

.inspiracao, .proficiencia {
    border: 2px solid black;
    margin: 30px;
}

#nome_personagem {
    height: 80px;
    margin-top: 25px;
}

    #nome_personagem .nome_personagem {
        width: 100%;
        height:30px;
        margin-top: 10px;
    }

#linha1 input, #linha1 textarea, #linha2 input, #linha2 textarea {
    width: 100%;
    height:30px;
    margin-top: 5px
}

#corpo input {
    text-align: center;
}

#corpo #forca, #corpo #destreza, #corpo #constituicao, #corpo #inteligencia, #corpo #sabedoria, #corpo #carisma {
    height: 152px;
    width: 150px;
    border-radius: 10px;
    margin: 40px
}

#corpo #numeros #status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 10px;
}

#corpo #status span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#corpo #status input {
    height: 90px;
    width: 100px;
    margin-left: 20px;
    text-align: center;
}

#corpo #forca .forca, #corpo #destreza .destreza, #corpo #constituicao .constituicao, #corpo #inteligencia .inteligencia, #corpo #sabedoria .sabedoria, #corpo #carisma .carisma {
    height: 40px;
    width: 80px;
    border-radius: 50% !important;
    margin-top: -100px;
    margin-left: 30px;
}

#corpo #testes #inspiracao, #corpo #testes #proficiencia {
    border-radius: 10px;
}

    #corpo #testes #inspiracao input, #corpo #testes #proficiencia input {
        text-align: center;
    }

#corpo #testes #teste, #corpo #pericia {
    border-radius: 10px;
}

    #corpo #testes #teste .check {
        width: 30px
    }

    #corpo #testes #teste #teste_forca {
        margin-top: 5px;
    }

    #corpo #testes #teste #teste_forca, #corpo #testes #teste #teste_destreza, #corpo #testes #teste #teste_constituicao, #corpo #testes #teste #teste_inteligencia, #corpo #testes #teste #teste_sabedoria, #corpo #testes #teste #teste_carisma {
        margin-bottom: 5px;
    }

#corpo #testes .teste_resis {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#corpo #testes #teste input, #pericias input {
    text-align: center;
    margin-right: 20px;
}

#pericias .check {
    width: 30px
}

#pericias #pericia_acrobacia {
    margin-top: 5px;
}

#pericias #pericia_acrobacia, #pericias #pericia_arcanismo, #pericias #pericia_atletismo, #pericias #pericia_atuacao, #pericias #pericia_blefar, #pericias #pericia_furtividade, #pericias #pericia_historia, #pericias #pericia_intimidacao, #pericias #pericia_intuicao, #pericias #pericia_investigacao, #pericias #pericia_animais, #pericias #pericia_medicina, #pericias #pericia_natureza, #pericias #pericia_percepcao, #pericias #pericia_persuasao, #pericias #pericia_prestidigitacao, #pericias #pericia_religiao, #pericias #pericia_ sobrevivencia {
    margin-bottom: 5px;
}

.peri {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


#corpo #vida_magia #grupo {
    border-radius: 10px;
}

    #corpo #vida_magia #grupo #superior {
        margin: 0;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        #corpo #vida_magia #grupo #superior input {
            width: 80px;
            margin-top: 5px;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #corpo #vida_magia #grupo #superior #armadura, #corpo #vida_magia #grupo #superior #iniciativa {
            margin-right: 10px;
        }

        #corpo #vida_magia #grupo #superior #armadura, #corpo #vida_magia #grupo #superior #iniciativa, #corpo #vida_magia #grupo #superior #deslocamento {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

    #corpo #vida_magia #grupo #vida #PV {
        margin: 0 5px 5px 5px;
        border-radius: 10px
    }

        #corpo #vida_magia #grupo #vida #PV #cima {
            margin: 5px 0 5px 0;
        }

        #corpo #vida_magia #grupo #vida #PV .pv_texto {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #corpo #vida_magia #grupo #PV #cima .pvt {
        width: 74%;
    }

    #corpo #vida_magia #grupo #PV .pva {
        width: 98%;
        height: 60px;
        text-align: center;
        font-size: 3em;
        margin: 0 1% 0 1%;
    }

    #corpo #vida_magia #grupo #PV .pv-span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    #corpo #vida_magia #grupo #vida #PVTemp {
        margin: 0 5px 5px 5px;
        border-radius: 10px
    }

    #corpo #vida_magia #grupo #PVTemp .pvtemp {
        width: 98%;
        height: 60px;
        text-align: center;
        font-size: 3em;
        margin: 5px 1% 0 1%;
    }

    #corpo #vida_magia #grupo #PVTemp span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    #corpo #vida_magia #grupo #baixo {
        width: 100%;
        margin: 15px 0 0 3%;
    }

        #corpo #vida_magia #grupo #baixo #dados {
            margin-right: 2%;
            border-radius: 10px;
        }

            #corpo #vida_magia #grupo #baixo #dados #dados_vida {
                margin: 5px 0 5px 0;
            }

                #corpo #vida_magia #grupo #baixo #dados #dados_vida .dado-texto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                }

                #corpo #vida_magia #grupo #baixo #dados #dados_vida input {
                    width: 75%;
                }

        #corpo #vida_magia #grupo #baixo #dado input {
            width: 100%;
            height: 100px;
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 5px;
        }

        #corpo #vida_magia #grupo #baixo #dado span {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 0.8em;
        }

        #deubom, #deuruim {
            margin-bottom:10px;
            margin-top:10px;
            height:50px;
        }

        #corpo #vida_magia #grupo #baixo #sucess {
            border-radius: 10px;
        }

            #corpo #vida_magia #grupo #baixo #sucess #morte {
                margin: 20px 0 10px 0;
            }

                #corpo #vida_magia #grupo #baixo #sucess #morte #deubom span {
                    margin-right: 4px;
                }

            #corpo #vida_magia #grupo #baixo #sucess .sucess_span {
                font-size: 0.7em;
                font-weight: bold;
            }

#ataque_magias {
    border-radius: 10px
}

    #ataque_magias #linhas {
        width: 100%;
        padding-left: 2.6%;
        padding-right: 2.6%;
    }

    #ataque_magias #escritas {
        margin: 5px 10px 5px 10px;
        padding: 0;
    }

        #ataque_magias #escritas .escrita .nome {
            padding: 0;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #ataque_magias #escritas .escrita .bonus {
            padding: 0;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #ataque_magias #escritas .escrita .dano {
            padding: 0;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #ataque_magias #lineone {
        margin: 5px 10px 5px 10px;
        padding: 0;
    }

        #ataque_magias #lineone .nome {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #lineone .bonus {
            padding: 0;
            width: 14.4%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #lineone .dano {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #ataque_magias #linetwo {
        margin: 5px 10px 5px 10px;
        padding: 0;
    }

        #ataque_magias #linetwo .nome {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #linetwo .bonus {
            padding: 0;
            width: 14.2%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #linetwo .dano {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #ataque_magias #linetree {
        margin: 5px 10px 5px 10px;
        padding: 0;
    }

        #ataque_magias #linetree .nome {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #linetree .bonus {
            padding: 0;
            width: 14.2%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        #ataque_magias #linetree .dano {
            padding: 0;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #ataque_magias .ataque-input {
        width: 95%;
        height: 500px;
        margin: 2px 2.5% 0 2.5%;
    }

    #ataque_magias span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

#equipamento {
    border-radius: 10px;
    padding: 0;
    margin: 0 0 10px 0;
}

    #equipamento #equip {
        margin: 20px 0 0 0;
        padding: 0 15px 0 5px;
    }

        #equipamento #equip #pc, #equipamento #equip #pp, #equipamento #equip #pe, #equipamento #equip #po, #equipamento #equip #pl {
            height: 45px;
        }

            #equipamento #equip #po #po_span {
                font-size: 0.85em;
            }

            #equipamento #equip #pl #pl_span {
                font-size: 1.1em
            }

        #equipamento #equip textarea {
            width: 85px
        }

    #equipamento #equip_text .texto-equip {
        width: 100%;
        margin-top: 5px;
        height: 300px
    }

    #equipamento #equip-span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

#caracteristica #traco {
    border-radius: 10px;
}

    #caracteristica #traco textarea {
        width: 95%;
        margin: 10px 2.5% 0 2.5%;
        height: 200px;
    }

    #caracteristica #traco span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

#caracteristica #ideais textarea {
    width: 95%;
    margin: 10px 2.5% 0 2.5%;
    height: 200px;
}

#caracteristica #ideais span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#caracteristica #ligacoes textarea {
    width: 95%;
    margin: 10px 2.5% 0 2.5%;
    height: 150px;
}

#caracteristica #ligacoes span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#caracteristica #defeito textarea {
    width: 95%;
    margin: 10px 2.5% 0 2.5%;
    height: 150px;
}

#caracteristica #defeito span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#caracteristica #habilidade textarea {
    width: 95%;
    margin: 10px 2.5% 0 2.5%;
    height: 500px;
}

#caracteristica #habilidade span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#linguagens #sab_pass {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
}

    #linguagens #sab_pass input {
        border: 2px solid black;
        border-radius: 10px;
        width: 50px;
        text-align: center;
        margin-right: 10px;
    }

    #linguagens #sab_pass span {
        font-weight: bold
    }

    #linguagens #sab_pass small {
        font-weight: initial;
    }

#linguagens #idiomas_profi {
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

    #linguagens #idiomas_profi textarea {
        width: 100%;
        height: 300px;
    }

    #linguagens #idiomas_profi span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

#caracteristica {
    margin: 10px 0;
    padding: 0;
}


#nome-personagem {
    height: 65px;
    margin-top: 25px;
    border-radius: 10px;
}

    #nome-personagem .nome_personagem {
        width: 100%;
        margin-top: 10px;
    }

    #nome-personagem span {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

#humano {
    border-radius: 10px;
}

#caracteristica textarea {
    width: 100%;
    height: 30px;
    margin-top: 5px
}

#aparencia {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

    #aparencia textarea {
        width: 100%;
        height: 350px;
    }

    #aparencia span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

#historia textarea{
    width:100%;
    height:350px;
    margin: 20px 0 0 0;
}

#historia span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tesouro textarea {
    width: 100%;
    height: 150px;
    margin: 20px 0 0 0;
}

#tesouro span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outras_caracteristicas textarea {
    width: 100%;
    height: 350px;
    margin: 20px 0 0 0;
}

#outras_caracteristicas span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aliados textarea {
    width: 97%;
    height: 150px;
    margin: 20px 0 0 0;
}

#aliados {
    padding:0;
    margin:0 0 10px 0;
}

#aliados span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#simbolo {
    padding: 0;
    margin: 0 0 10px 0;
}

#simbolo small{
    width:100%;
    height:20px;
    margin-top:10px;
    padding:0;
}

#simbolo textarea {
    width: 100%;
    height: 50px;
    margin-top:-40px;
}

.escondidas {
    display: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}