
<link rel="stylesheet" href="~/css/Escolha.css" asp-append-version="true" />


<div class="containerer">
    <h1>Escolha sua classe</h1>
    <div class="card-container">
        <div class="card-wrapper">
            <div class="card light artista">
                <div class="text-overlay">
                    <h2>Artista</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Artista</h2>
                    <div class="purchase-button light" onclick="escolhaBarbaro()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card dark eremita">
                <div class="text-overlay">
                    <h2>Eremita</h2>
                    <div class="price"></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Eremita</h2>
                    <div class="purchase-button dark" onclick="escolhaEremita()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card light sabio">
                <div class="text-overlay">
                    <h2>Sabio</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Sabio</h2>
                    <div class="purchase-button light" onclick="escolhaSabio()">Escolhido</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/Escolha.js"></script>

