
<link rel="stylesheet" href="~/css/Escolha.css" asp-append-version="true" />


<div class="containerer">
    <h1>Escolha sua classe</h1>
    <div class="card-container">
        <div class="card-wrapper">
            <div class="card light caotico">
                <div class="text-overlay">
                    <h2>Caotico e mal</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Caotico e mal</h2>
                    <div class="purchase-button light" onclick="escolhaBarbaro()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card dark neutro">
                <div class="text-overlay">
                    <h2>Neutro</h2>
                    <div class="price"></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Neutro</h2>
                    <div class="purchase-button dark" onclick="escolhaNeutro()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card light leal">
                <div class="text-overlay">
                    <h2>Leal e Bom</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Leal e Bom</h2>
                    <div class="purchase-button light" onclick="escolhaArtificer()">Escolhido</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/Escolha.js"></script>

