@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/DED5e.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Escolha.css" asp-append-version="true" />


<div class="containerer">
    <h1>Escolha sua classe</h1>
    <div class="card-container">
        <div class="card-wrapper">
            <div class="card light barbaro">
                <div class="text-overlay">
                    <h2>Barbaro</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Barbaro</h2>
                    <i class="fa-solid fa-person"></i>
                    <div class="purchase-button light" onclick="escolhaBarbaro()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card dark mago">
                <div class="text-overlay">
                    <h2>Mago</h2>
                    <div class="price"></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Mago</h2>
                    <i class="fa-solid fa-people-group"></i>
                    <div class="purchase-button dark" onclick="escolhaMago()">Escolhido</div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card light artificer">
                <div class="text-overlay">
                    <h2>Artificer</h2>
                    <div class="price"><small></small></div>
                    <div class="details-text">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <h2 class="back-h2">Artificer</h2>
                    <i class="fa-solid fa-person"></i>
                    <div class="purchase-button light" onclick="escolhaArtificer()">Escolhido</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/Escolha.js"></script>

