<div id="ataque_magias">
    <div id="linhas">
        <div id="escritas">
            <div class="escrita row">
                <small class="col-lg-5 text-muted nome">Nome</small>
                <small class="col-lg-2 text-muted bonus">Bônus</small>
                <small class="col-lg-4 text-muted dano">Dano/tipo</small>
            </div>
        </div>
        <div id="lineone" class="row">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-4 dano" />
        </div>
        <div id="linetwo" class="row">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-4 dano" />
        </div>
        <div id="linetree" class="row">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-4 dano" />
        </div>
    </div>
    <input type="text" class="ataque-input" />
    <span>ATAQUES E MAGIAS</span>
</div>
<div id="equipamento" class="row">
    <div id="equip" class="col-lg-4">
        <div id="pc">
            <span id="pc_span">PC</span>
            <input id="pc_id" type="text" />
        </div>
        <div id="pp">
            <span id="pp_span">PP</span>
            <input id="pp_id" type="text" />
        </div>
        <div id="pe">
            <span id="pe_span">PE</span>
            <input id="pe_id" type="text" />
        </div>
        <div id="po">
            <span id="po_span">PO</span>
            <input id="po_id" type="text" />
        </div>
        <div id="pl">
            <span id="pl_span">PL</span>
            <input id="pl_id" type="text" />
        </div>
    </div>
    <div id="equip_text" class="col-lg-8">
        <input type="text" class="texto-equip" />
        <span>Equipamento</span>
    </div>
</div>