
<div id="caracteristica" class="col-lg-3">
    <div id="traco">
        <textarea type="text" class="traco" title="Traços de personalidade"></textarea>
        <span>TRAÇOS DE PERSONALIDADE</span>
    </div>
    <div id="ideais">
        <input type="text" class="ideais" title="Ideais" />
        <span>IDEAIS</span>
    </div>
    <div id="ligacoes">
        <input type="text" class="ligacoes" title="Ligações" />
        <span>LIGAÇÕES</span>
    </div>
    <div id="defeito">
        <input type="text" class="defeito" title="Defeitos" />
        <span>DEFEITOS</span>
    </div>
    <div id="habilidade">
        <input type="text" class="habilidade" title="Características e Habilidades" />
        <span>CARACTERÍSTICAS E HABILIDADES</span>
    </div>
</div>