<div id="linguagens" class="row">
    <div id="sab_pass" class="col-lg-5">
        <input type="number" class="sab_pass" />
        <span>SABEDORIA PASSIVA <small>(PERCEPÇÃO)</small></span>
    </div>

    <div id="idiomas_profi" class="col-lg-12">
        <textarea type="text" class="idiomas" title="Idiomas e outras Proficiências"></textarea>
        <span>IDIOMAS E OUTRAS PROFICIÊNCIAS</span>
    </div>
</div>

<div class="row">
    <div id="caracteristica" class="row col-lg-12">
        <div id="nome-personagem" class="col-lg-4">
            <textarea type="text" placeholder="Nome do Personagem" title="Nome do personagem" class="nome_personagem"></textarea>
            <span>Nome do Personagem</span>
        </div>
        <div id="humano" class="col-lg-8">
            <div id="1linha" class="row">
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Idade do personagem" title="Idade do personagem" class="idade"></textarea>
                    <span>Idade</span>
                </div>
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Altura" title="Altura do personagem" class="altura"></textarea>
                    <span>Altura</span>
                </div>
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Peso em KG" title="Peso do personagem em KG" class="peso"></textarea>
                    <span>Peso</span>
                </div>
            </div>
            <div id="2linha" class="row">
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Cor dos Olhos" title="Olhos" class="olhos"></textarea>
                    <span>Olhos</span>
                </div>
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Tom da pele" title="Tom da pele" class="pele"></textarea>
                    <span>Pele</span>
                </div>
                <div class="col-lg-4">
                    <textarea type="text" placeholder="Cor dos cabelos" title="Cor dos cabelos" class="cabelos"></textarea>
                    <span>Cabelos</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="aparencia" class="col-lg-12">
        <textarea type="text" title="Aparência do seu personagem" id="aparencia_personagem"></textarea>
        <span>APARÊNCIA DO PERSONAGEM</span>
    </div>
</div>