
<div id="caracteristica" class="col-lg-12">
    <div id="traco">
        <textarea type="text" class="traco" title="Traços de personalidade" id="meu_traco"></textarea>
        <span>TRAÇOS DE PERSONALIDADE</span>
    </div>
    <div id="ideais">
        <textarea type="text" class="ideais" title="Ideais" id="meu_ideal"></textarea>
        <span>IDEAIS</span>
    </div>
    <div id="ligacoes">
        <textarea type="text" class="ligacoes" title="Ligações" id="meu_vinculo"></textarea>
        <span>LIGAÇÕES</span>
    </div>
    <div id="defeito">
        <textarea type="text" class="defeito" title="Defeitos" id="meu_defeito"></textarea>
        <span>DEFEITOS</span>
    </div>
    <div id="habilidade">
        <textarea type="text" class="habilidade" title="Características e Habilidades" id="caracteristicas"></textarea>
        <span>CARACTERÍSTICAS E HABILIDADES</span>
    </div>
</div>