<div id="ataque_magias">
    <div id="linhas" class="row">
        <div id="escritas" class="col-lg-12">
            <div class="escrita row">
                <span class="col-lg-5  nome">Nome</span>
                <span class="col-lg-2  bonus">Bônus</span>
                <span class="col-lg-5  dano">Dano/tipo</span>
            </div>
        </div>
        <div id="lineone" class="row col-lg-12">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-5 dano" />
        </div>
        <div id="linetwo" class="row clo-lg-12">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-5 dano" />
        </div>
        <div id="linetree" class="row col-lg-12">
            <input type="text" class="col-lg-5 nome" />
            <input type="text" class="col-lg-2 bonus" />
            <input type="text" class="col-lg-5 dano" />
        </div>
    </div>
    <input type="text" class="ataque-input" />
    <span>ATAQUES E MAGIAS</span>
</div>
<div id="equipamento" class="row">
    <div id="equip" class="col-lg-3">
        <div id="pc">
            <span id="pc_span">PC</span>
            <input id="pc_id" type="text" />
        </div>
        <div id="pp">
            <span id="pp_span">PP</span>
            <input id="pp_id" type="text" />
        </div>
        <div id="pe">
            <span id="pe_span">PE</span>
            <input id="pe_id" type="text" />
        </div>
        <div id="po">
            <span id="po_span">PO</span>
            <input id="po_id" type="text" />
        </div>
        <div id="pl">
            <span id="pl_span">PL</span>
            <input id="pl_id" type="text" />
        </div>
    </div>
    <div id="equip_text" class="col-lg-9">
        <textarea type="text" class="texto-equip" title="Equipamentos"></textarea>
    </div>
    <span id="equip-span">EQUIPAMENTOS</span>
</div>