<div id="historia_alianca" class="row">
    <div id="historia" class="col-lg-12">
        <textarea type="text" tilte="Historia do Personagem" id="minha_historia"></textarea>
        <span>HISTORIA DO PERSONAGEM</span>
    </div>

    <div id="tesouro" class="col-lg-12">
        <textarea type="text" title="Tesouros" id="meu_tesouro"></textarea>
        <span>TESOUROS</span>
    </div>

    <div id="outras_caracteristicas" class="col-lg-12">
        <textarea type="text" title="Outras caracteristicas e habilidades do personagem" id="outra_caracteristica"></textarea>
        <span>OUTRAS CARACTERISTICAS E HABILIDADES</span>
    </div>

    <div id="aliados" class="col-lg-12 row">
        <div class="col-lg-6">
            <textarea type="text" title="Alinças"></textarea>
            <span>ALIADOS E ORÇANIZAÇOES</span>
        </div>

        <div id="simbolo" class="col-lg-6 row">
            <small class="col-lg-12">NOME</small>
            <textarea title="Nome da Aliança ou Organização" class="col-lg-12"></textarea>

            <span class="branco">SIMBOLO</span>
        </div>
    </div>
</div>